<!-- Header component -->
<header>
  <div class="top-bar">
    <nav class="breadcrumb flex-wrap" aria-label="Breadcrumb">
      <ul class="breadcrumb">
        <div>
          <img src="../../assets/arrow.svg" alt="arrow" class="arrow" />
        </div>
        <li class="breadcrumb-item">
          <img src="../../assets/book.svg" alt="book" class="book" />
          <a class="active-item" href="#">Main</a>
        </li>
        <li class="breadcrumb-item"><a href="#">Getting started</a></li>
        <li class="breadcrumb-item">
          <a href="#" class="file-title text-ellipsis">Untitled</a>
        </li>
      </ul>
      <div class="breadcrumb document-actions gap-4">
        <button class="text-gray-400 flex gap-2 items-center">
          <div class="flex">
            <img src="../../assets/padlock.svg" alt="padlock" class="padlock" />
          </div>
          <span class="editing-action"> Editing </span>
        </button>
        <span class="text-gray-300">|</span>
        <button class="flex gap-2 items-center">
          <span class="text-blue-800 font-semibold">Publish Space</span>
          <div class="flex items-center justify-center">
            <img
              src="../../assets/arrow-down.svg"
              alt="arrow-down"
              class="arrow-down"
            />
          </div>
        </button>
      </div>
    </nav>
  </div>
</header>
