<!-- This is the dropdown items component -->
<div class="dropdown-item" data-type="h1">
  <div class="icon">T</div>
  <div class="text">
    <div class="title">Heading 1</div>
    <div class="shortcut">Shortcut: type / + 1</div>
  </div>
</div>
<div class="dropdown-item" data-type="h2">
  <div class="icon">T</div>
  <div class="text">
    <div class="title">Heading 2</div>
    <div class="shortcut">Shortcut: type / + 2</div>
  </div>
</div>
<div class="dropdown-item" data-type="h3">
  <div class="icon">T</div>
  <div class="text">
    <div class="title">Heading 3</div>
    <div class="shortcut">Shortcut: type / + 3</div>
  </div>
</div>
<div class="dropdown-item" data-type="bullet">
  <div class="icon">T</div>
  <div class="text">
    <div class="title">Bullet list</div>
    <div class="shortcut">Shortcut: type / + 4</div>
  </div>
</div>
