<!-- The dropdown component -->
<div class="dropdown" id="dropdown">
  <header class="flex flex-col gap-2 header-dropdown items-start">
    <h3>Add blocks</h3>
    <input
      type="text"
      placeholder="Keep typing to filter, or escape to exit"
      class="filter-input"
      id="filterInput"
    />
    <div class="flex gap-2 items-center mt-4 text-sm text-gray-500">
      <span>Filtering Keyword</span>
      <div class="filtering-type">0</div>
    </div>
  </header>
  <div id="component-dropdown-items"></div>
</div>
